body {
  margin:0px;
  background-color:rgba(228, 228, 228, 1);
  background-image:none;
  position:static;
  left:auto;
  width:1042px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:0px;
  top:0px;
  width:770px;
  height:960px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:770px;
  height:960px;
}
#u1 {
  position:absolute;
  left:2px;
  top:472px;
  width:766px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:24px;
  top:14px;
  width:720px;
  height:126px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:720px;
  height:126px;
}
#u3 {
  position:absolute;
  left:2px;
  top:55px;
  width:716px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:38px;
  top:32px;
  width:49px;
  height:28px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:28px;
}
#u5 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u6 {
  position:absolute;
  left:370px;
  top:38px;
  width:127px;
  height:16px;
  font-size:14px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:16px;
}
#u7 {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  white-space:nowrap;
}
#u8 {
  position:absolute;
  left:130px;
  top:80px;
  width:127px;
  height:16px;
  font-size:14px;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:16px;
}
#u9 {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  white-space:nowrap;
}
#u10 {
  position:absolute;
  left:370px;
  top:80px;
  width:139px;
  height:16px;
  font-size:14px;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:139px;
  height:16px;
}
#u11 {
  position:absolute;
  left:0px;
  top:0px;
  width:139px;
  white-space:nowrap;
}
#u12 {
  position:absolute;
  left:130px;
  top:114px;
  width:107px;
  height:16px;
  font-size:14px;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  height:16px;
}
#u13 {
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  white-space:nowrap;
}
#u14 {
  position:absolute;
  left:130px;
  top:38px;
  width:169px;
  height:16px;
  font-size:14px;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  height:16px;
}
#u15 {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  white-space:nowrap;
}
#u16 {
  position:absolute;
  left:24px;
  top:150px;
  width:720px;
  height:780px;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:720px;
  height:780px;
}
#u17 {
  position:absolute;
  left:2px;
  top:382px;
  width:716px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18 {
  position:absolute;
  left:59px;
  top:187px;
  width:81px;
  height:23px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:23px;
}
#u19 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  word-wrap:break-word;
}
#u20 {
  position:absolute;
  left:161px;
  top:191px;
  width:279px;
  height:8px;
  overflow:hidden;
}
#u20_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:279px;
  height:8px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-color:rgba(0, 157, 218, 1);
  background-image:none;
}
#u20_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u21 {
  position:absolute;
  left:130px;
  top:191px;
  width:208px;
  height:8px;
  overflow:hidden;
  visibility:hidden;
}
#u21_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:208px;
  height:8px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-color:rgba(255, 153, 0, 1);
  background-image:none;
}
#u21_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u22 {
  position:absolute;
  left:40px;
  top:70px;
  width:550px;
  height:16px;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:550px;
  height:16px;
}
#u23 {
  position:absolute;
  left:0px;
  top:0px;
  width:550px;
  word-wrap:break-word;
}
#u24 {
  position:absolute;
  left:40px;
  top:96px;
  width:30px;
  height:25px;
}
#u24_input {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u24_input {
  font-family:'微软雅黑';
}
#u25 {
  position:absolute;
  left:70px;
  top:105px;
  width:20px;
  height:16px;
}
#u25_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:16px;
}
#u26 {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  word-wrap:break-word;
}
#u27 {
  position:absolute;
  left:460px;
  top:187px;
  width:27px;
  height:16px;
}
#u27_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:16px;
}
#u28 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u29 {
  position:absolute;
  left:59px;
  top:212px;
  width:651px;
  height:10px;
}
#u29_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u29_end {
  position:absolute;
  left:634px;
  top:-5px;
  width:18px;
  height:20px;
}
#u29_line {
  position:absolute;
  left:0px;
  top:5px;
  width:651px;
  height:1px;
}
#u30 {
  position:absolute;
  left:59px;
  top:237px;
  width:121px;
  height:23px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u30_img {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:23px;
}
#u31 {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  word-wrap:break-word;
}
#u32 {
  position:absolute;
  left:130px;
  top:270px;
  width:251px;
  height:23px;
}
#u32_img {
  position:absolute;
  left:0px;
  top:0px;
  width:251px;
  height:23px;
}
#u33 {
  position:absolute;
  left:0px;
  top:0px;
  width:251px;
  word-wrap:break-word;
}
#u34 {
  position:absolute;
  left:130px;
  top:303px;
  width:251px;
  height:23px;
}
#u34_img {
  position:absolute;
  left:0px;
  top:0px;
  width:251px;
  height:23px;
}
#u35 {
  position:absolute;
  left:0px;
  top:0px;
  width:251px;
  word-wrap:break-word;
}
#u36 {
  position:absolute;
  left:173px;
  top:237px;
  width:50px;
  height:23px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u36_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:23px;
}
#u37 {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  word-wrap:break-word;
}
#u38 {
  position:absolute;
  left:59px;
  top:326px;
  width:651px;
  height:10px;
}
#u38_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u38_end {
  position:absolute;
  left:634px;
  top:-5px;
  width:18px;
  height:20px;
}
#u38_line {
  position:absolute;
  left:0px;
  top:5px;
  width:651px;
  height:1px;
}
#u39 {
  position:absolute;
  left:59px;
  top:344px;
  width:121px;
  height:23px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u39_img {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:23px;
}
#u40 {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  word-wrap:break-word;
}
#u41 {
  position:absolute;
  left:110px;
  top:377px;
  width:85px;
  height:23px;
}
#u41_img {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:23px;
}
#u42 {
  position:absolute;
  left:2px;
  top:4px;
  width:81px;
  word-wrap:break-word;
}
#u43 {
  position:absolute;
  left:220px;
  top:380px;
  width:79px;
  height:16px;
}
#u43_img {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:16px;
}
#u44 {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  white-space:nowrap;
}
#u45 {
  position:absolute;
  left:592px;
  top:377px;
  width:82px;
  height:16px;
}
#u45_img {
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:16px;
}
#u46 {
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  white-space:nowrap;
}
#u47 {
  position:absolute;
  left:110px;
  top:406px;
  width:570px;
  height:10px;
}
#u47_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u47_end {
  position:absolute;
  left:553px;
  top:-5px;
  width:18px;
  height:20px;
}
#u47_line {
  position:absolute;
  left:0px;
  top:5px;
  width:570px;
  height:1px;
}
#u48 {
  position:absolute;
  left:110px;
  top:476px;
  width:85px;
  height:23px;
}
#u48_img {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:23px;
}
#u49 {
  position:absolute;
  left:2px;
  top:4px;
  width:81px;
  word-wrap:break-word;
}
#u50 {
  position:absolute;
  left:220px;
  top:480px;
  width:112px;
  height:16px;
}
#u50_img {
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  height:16px;
}
#u51 {
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  white-space:nowrap;
}
#u52 {
  position:absolute;
  left:592px;
  top:476px;
  width:82px;
  height:16px;
}
#u52_img {
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:16px;
}
#u53 {
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  white-space:nowrap;
}
#u54 {
  position:absolute;
  left:110px;
  top:456px;
  width:570px;
  height:10px;
}
#u54_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u54_end {
  position:absolute;
  left:553px;
  top:-5px;
  width:18px;
  height:20px;
}
#u54_line {
  position:absolute;
  left:0px;
  top:5px;
  width:570px;
  height:1px;
}
#u55 {
  position:absolute;
  left:110px;
  top:426px;
  width:85px;
  height:23px;
}
#u55_img {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:23px;
}
#u56 {
  position:absolute;
  left:2px;
  top:4px;
  width:81px;
  word-wrap:break-word;
}
#u57 {
  position:absolute;
  left:220px;
  top:430px;
  width:196px;
  height:16px;
}
#u57_img {
  position:absolute;
  left:0px;
  top:0px;
  width:196px;
  height:16px;
}
#u58 {
  position:absolute;
  left:0px;
  top:0px;
  width:196px;
  white-space:nowrap;
}
#u59 {
  position:absolute;
  left:592px;
  top:426px;
  width:82px;
  height:16px;
}
#u59_img {
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:16px;
}
#u60 {
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  white-space:nowrap;
}
#u61 {
  position:absolute;
  left:110px;
  top:506px;
  width:570px;
  height:10px;
}
#u61_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u61_end {
  position:absolute;
  left:553px;
  top:-5px;
  width:18px;
  height:20px;
}
#u61_line {
  position:absolute;
  left:0px;
  top:5px;
  width:570px;
  height:1px;
}
#u62 {
  position:absolute;
  left:110px;
  top:526px;
  width:85px;
  height:23px;
}
#u62_img {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:23px;
}
#u63 {
  position:absolute;
  left:2px;
  top:4px;
  width:81px;
  word-wrap:break-word;
}
#u64 {
  position:absolute;
  left:224px;
  top:530px;
  width:105px;
  height:16px;
}
#u64_img {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:16px;
}
#u65 {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  white-space:nowrap;
}
#u66 {
  position:absolute;
  left:592px;
  top:526px;
  width:82px;
  height:16px;
}
#u66_img {
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:16px;
}
#u67 {
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  white-space:nowrap;
}
#u68 {
  position:absolute;
  left:59px;
  top:570px;
  width:651px;
  height:10px;
}
#u68_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u68_end {
  position:absolute;
  left:634px;
  top:-5px;
  width:18px;
  height:20px;
}
#u68_line {
  position:absolute;
  left:0px;
  top:5px;
  width:651px;
  height:1px;
}
#u69 {
  position:absolute;
  left:59px;
  top:590px;
  width:121px;
  height:23px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u69_img {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:23px;
}
#u70 {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  word-wrap:break-word;
}
#u71 {
  position:absolute;
  left:224px;
  top:750px;
  width:222px;
  height:16px;
}
#u71_img {
  position:absolute;
  left:0px;
  top:0px;
  width:222px;
  height:16px;
}
#u72 {
  position:absolute;
  left:0px;
  top:0px;
  width:222px;
  white-space:nowrap;
}
#u73 {
  position:absolute;
  left:110px;
  top:711px;
  width:85px;
  height:23px;
}
#u73_img {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:23px;
}
#u74 {
  position:absolute;
  left:2px;
  top:4px;
  width:81px;
  word-wrap:break-word;
}
#u75 {
  position:absolute;
  left:592px;
  top:747px;
  width:82px;
  height:16px;
}
#u75_img {
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:16px;
}
#u76 {
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  white-space:nowrap;
}
#u77 {
  position:absolute;
  left:110px;
  top:780px;
  width:570px;
  height:10px;
}
#u77_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u77_end {
  position:absolute;
  left:553px;
  top:-5px;
  width:18px;
  height:20px;
}
#u77_line {
  position:absolute;
  left:0px;
  top:5px;
  width:570px;
  height:1px;
}
#u78 {
  position:absolute;
  left:110px;
  top:800px;
  width:85px;
  height:23px;
}
#u78_img {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:23px;
}
#u79 {
  position:absolute;
  left:2px;
  top:4px;
  width:81px;
  word-wrap:break-word;
}
#u80 {
  position:absolute;
  left:220px;
  top:847px;
  width:454px;
  height:36px;
}
#u80_img {
  position:absolute;
  left:0px;
  top:0px;
  width:454px;
  height:36px;
}
#u81 {
  position:absolute;
  left:0px;
  top:0px;
  width:454px;
  word-wrap:break-word;
}
#u82 {
  position:absolute;
  left:588px;
  top:893px;
  width:82px;
  height:16px;
}
#u82_img {
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:16px;
}
#u83 {
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  white-space:nowrap;
}
#u84 {
  position:absolute;
  left:110px;
  top:691px;
  width:570px;
  height:10px;
}
#u84_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u84_end {
  position:absolute;
  left:553px;
  top:-5px;
  width:18px;
  height:20px;
}
#u84_line {
  position:absolute;
  left:0px;
  top:5px;
  width:570px;
  height:1px;
}
#u85 {
  position:absolute;
  left:110px;
  top:623px;
  width:85px;
  height:23px;
}
#u85_img {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:23px;
}
#u86 {
  position:absolute;
  left:2px;
  top:4px;
  width:81px;
  word-wrap:break-word;
}
#u87 {
  position:absolute;
  left:224px;
  top:715px;
  width:27px;
  height:16px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u87_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:16px;
}
#u88 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u89 {
  position:absolute;
  left:224px;
  top:803px;
  width:27px;
  height:16px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u89_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:16px;
}
#u90 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u91 {
  position:absolute;
  left:224px;
  top:626px;
  width:27px;
  height:16px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u91_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:16px;
}
#u92 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u93 {
  position:absolute;
  left:292px;
  top:626px;
  width:53px;
  height:16px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u93_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
}
#u94 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u95 {
  position:absolute;
  left:224px;
  top:660px;
  width:222px;
  height:16px;
}
#u95_img {
  position:absolute;
  left:0px;
  top:0px;
  width:222px;
  height:16px;
}
#u96 {
  position:absolute;
  left:0px;
  top:0px;
  width:222px;
  white-space:nowrap;
}
#u97 {
  position:absolute;
  left:950px;
  top:293px;
  width:92px;
  height:16px;
  color:#FF0000;
}
#u97_img {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:16px;
}
#u98 {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  white-space:nowrap;
}
