body {
  margin:0px;
  background-color:rgba(228, 228, 228, 1);
  background-image:none;
  position:static;
  left:auto;
  width:660px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:20px;
  top:10px;
  width:640px;
  height:720px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:640px;
  height:720px;
}
#u1 {
  position:absolute;
  left:2px;
  top:352px;
  width:636px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:40px;
  top:27px;
  width:53px;
  height:16px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
}
#u3 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u4 {
  position:absolute;
  left:405px;
  top:544px;
  width:100px;
  height:36px;
}
#u4_input {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:36px;
  font-family:'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u4_input {
  font-family:'微软雅黑';
}
#u5 {
  position:absolute;
  left:143px;
  top:544px;
  width:100px;
  height:36px;
}
#u5_input {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:36px;
  font-family:'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u5_input {
  font-family:'微软雅黑';
}
#u6 {
  position:absolute;
  left:119px;
  top:420px;
  width:83px;
  height:100px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:100px;
}
#u7 {
  position:absolute;
  left:2px;
  top:42px;
  width:79px;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:53px;
  top:390px;
  width:66px;
  height:16px;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:16px;
}
#u9 {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  white-space:nowrap;
}
#u10 {
  position:absolute;
  left:209px;
  top:490px;
  width:148px;
  height:30px;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:148px;
  height:30px;
}
#u11 {
  position:absolute;
  left:2px;
  top:7px;
  width:144px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:439px;
  top:495px;
  width:52px;
  height:25px;
}
#u12_input {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u12_input {
  font-family:'微软雅黑';
}
#u13 {
  position:absolute;
  left:380px;
  top:495px;
  width:52px;
  height:25px;
}
#u13_input {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u13_input {
  font-family:'微软雅黑';
}
#u14 {
  position:absolute;
  left:53px;
  top:66px;
  width:66px;
  height:16px;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:16px;
}
#u15 {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  white-space:nowrap;
}
#u16 {
  position:absolute;
  left:119px;
  top:62px;
  width:238px;
  height:25px;
}
#u16_input {
  position:absolute;
  left:0px;
  top:0px;
  width:238px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u16_input {
  font-family:'微软雅黑';
}
#u17 {
  position:absolute;
  left:53px;
  top:114px;
  width:66px;
  height:16px;
}
#u17_img {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:16px;
}
#u18 {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  white-space:nowrap;
}
#u19 {
  position:absolute;
  left:273px;
  top:544px;
  width:100px;
  height:36px;
}
#u19_input {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:36px;
  font-family:'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u19_input {
  font-family:'微软雅黑';
}
#u20 {
  position:absolute;
  left:53px;
  top:170px;
  width:66px;
  height:16px;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:16px;
}
#u21 {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  white-space:nowrap;
}
#u22 {
  position:absolute;
  left:53px;
  top:224px;
  width:64px;
  height:16px;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:16px;
}
#u23 {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  white-space:nowrap;
}
#u24 {
  position:absolute;
  left:84px;
  top:610px;
  width:511px;
  height:100px;
}
#u24_img {
  position:absolute;
  left:0px;
  top:0px;
  width:511px;
  height:100px;
}
#u25 {
  position:absolute;
  left:0px;
  top:0px;
  width:511px;
  word-wrap:break-word;
}
#u26 {
  position:absolute;
  left:119px;
  top:110px;
  width:171px;
  height:25px;
}
#u26_input {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u26_input {
  font-family:'微软雅黑';
}
#u27 {
  position:absolute;
  left:293px;
  top:114px;
  width:14px;
  height:16px;
}
#u27_img {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:16px;
}
#u28 {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  white-space:nowrap;
}
#u29 {
  position:absolute;
  left:320px;
  top:110px;
  width:171px;
  height:25px;
}
#u29_input {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u29_input {
  font-family:'微软雅黑';
}
#u30 {
  position:absolute;
  left:119px;
  top:166px;
  width:372px;
  height:25px;
}
#u30_input {
  position:absolute;
  left:0px;
  top:0px;
  width:372px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u30_input {
  font-family:'微软雅黑';
}
#u31 {
  position:absolute;
  left:119px;
  top:224px;
  width:372px;
  height:145px;
}
#u31_input {
  position:absolute;
  left:0px;
  top:0px;
  width:372px;
  height:145px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u31_input {
  font-family:'微软雅黑';
}
#u32 {
  position:absolute;
  left:119px;
  top:390px;
  width:313px;
  height:16px;
}
#u32_img {
  position:absolute;
  left:0px;
  top:0px;
  width:313px;
  height:16px;
}
#u33 {
  position:absolute;
  left:0px;
  top:0px;
  width:313px;
  white-space:nowrap;
}
#u34 {
  position:absolute;
  left:40px;
  top:71px;
  width:13px;
  height:16px;
  color:#FF0000;
}
#u34_img {
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  height:16px;
}
#u35 {
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  word-wrap:break-word;
}
#u36 {
  position:absolute;
  left:40px;
  top:114px;
  width:13px;
  height:16px;
  color:#FF0000;
}
#u36_img {
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  height:16px;
}
#u37 {
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  word-wrap:break-word;
}
#u38 {
  position:absolute;
  left:40px;
  top:170px;
  width:13px;
  height:16px;
  color:#FF0000;
}
#u38_img {
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  height:16px;
}
#u39 {
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  word-wrap:break-word;
}
