body {
  margin:0px;
  background-color:rgba(228, 228, 228, 1);
  background-image:none;
  position:static;
  left:auto;
  width:650px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:10px;
  top:10px;
  width:640px;
  height:730px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:640px;
  height:730px;
}
#u1 {
  position:absolute;
  left:2px;
  top:357px;
  width:636px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:30px;
  top:27px;
  width:53px;
  height:16px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
}
#u3 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u4 {
  position:absolute;
  left:392px;
  top:674px;
  width:100px;
  height:36px;
}
#u4_input {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:36px;
  font-family:'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u4_input {
  font-family:'微软雅黑';
}
#u5 {
  position:absolute;
  left:138px;
  top:674px;
  width:100px;
  height:36px;
}
#u5_input {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:36px;
  font-family:'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u5_input {
  font-family:'微软雅黑';
}
#u6 {
  position:absolute;
  left:43px;
  top:66px;
  width:66px;
  height:16px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:16px;
}
#u7 {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  white-space:nowrap;
}
#u8 {
  position:absolute;
  left:112px;
  top:62px;
  width:218px;
  height:25px;
}
#u8_input {
  position:absolute;
  left:0px;
  top:0px;
  width:218px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u8_input {
  font-family:'微软雅黑';
}
#u9 {
  position:absolute;
  left:43px;
  top:114px;
  width:66px;
  height:16px;
}
#u9_img {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:16px;
}
#u10 {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  white-space:nowrap;
}
#u11 {
  position:absolute;
  left:264px;
  top:674px;
  width:100px;
  height:36px;
}
#u11_input {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:36px;
  font-family:'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u11_input {
  font-family:'微软雅黑';
}
#u12 {
  position:absolute;
  left:112px;
  top:114px;
  width:488px;
  height:35px;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:488px;
  height:35px;
}
#u13 {
  position:absolute;
  left:2px;
  top:10px;
  width:484px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14 {
  position:absolute;
  left:232px;
  top:128px;
  width:12px;
  height:14px;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:14px;
}
#u15 {
  position:absolute;
  left:2px;
  top:-1px;
  width:8px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16 {
  position:absolute;
  left:309px;
  top:128px;
  width:12px;
  height:14px;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:14px;
}
#u17 {
  position:absolute;
  left:2px;
  top:-1px;
  width:8px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18 {
  position:absolute;
  left:328px;
  top:128px;
  width:12px;
  height:14px;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:14px;
}
#u19 {
  position:absolute;
  left:2px;
  top:-1px;
  width:8px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20 {
  position:absolute;
  left:349px;
  top:128px;
  width:12px;
  height:14px;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:14px;
}
#u21 {
  position:absolute;
  left:2px;
  top:-1px;
  width:8px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22 {
  position:absolute;
  left:253px;
  top:128px;
  width:12px;
  height:14px;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:14px;
}
#u23 {
  position:absolute;
  left:2px;
  top:-1px;
  width:8px;
  visibility:hidden;
  word-wrap:break-word;
}
#u24 {
  position:absolute;
  left:272px;
  top:128px;
  width:12px;
  height:14px;
}
#u24_img {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:14px;
}
#u25 {
  position:absolute;
  left:2px;
  top:-1px;
  width:8px;
  visibility:hidden;
  word-wrap:break-word;
}
#u26 {
  position:absolute;
  left:425px;
  top:128px;
  width:12px;
  height:14px;
}
#u26_img {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:14px;
}
#u27 {
  position:absolute;
  left:2px;
  top:-1px;
  width:8px;
  visibility:hidden;
  word-wrap:break-word;
}
#u28 {
  position:absolute;
  left:387px;
  top:128px;
  width:12px;
  height:14px;
}
#u28_img {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:14px;
}
#u29 {
  position:absolute;
  left:2px;
  top:-1px;
  width:8px;
  visibility:hidden;
  word-wrap:break-word;
}
#u30 {
  position:absolute;
  left:406px;
  top:128px;
  width:12px;
  height:14px;
}
#u30_img {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:14px;
}
#u31 {
  position:absolute;
  left:2px;
  top:-1px;
  width:8px;
  visibility:hidden;
  word-wrap:break-word;
}
#u32 {
  position:absolute;
  left:520px;
  top:128px;
  width:12px;
  height:14px;
}
#u32_img {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:14px;
}
#u33 {
  position:absolute;
  left:2px;
  top:-1px;
  width:8px;
  visibility:hidden;
  word-wrap:break-word;
}
#u34 {
  position:absolute;
  left:541px;
  top:128px;
  width:12px;
  height:14px;
}
#u34_img {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:14px;
}
#u35 {
  position:absolute;
  left:2px;
  top:-1px;
  width:8px;
  visibility:hidden;
  word-wrap:break-word;
}
#u36 {
  position:absolute;
  left:484px;
  top:128px;
  width:12px;
  height:14px;
}
#u36_img {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:14px;
}
#u37 {
  position:absolute;
  left:2px;
  top:-1px;
  width:8px;
  visibility:hidden;
  word-wrap:break-word;
}
#u38 {
  position:absolute;
  left:446px;
  top:128px;
  width:12px;
  height:14px;
}
#u38_img {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:14px;
}
#u39 {
  position:absolute;
  left:2px;
  top:-1px;
  width:8px;
  visibility:hidden;
  word-wrap:break-word;
}
#u40 {
  position:absolute;
  left:122px;
  top:124px;
  width:66px;
  height:19px;
}
#u40_input {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:19px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u40_input {
  font-family:'微软雅黑';
}
#u40_input:disabled {
  color:grayText;
}
#u41 {
  position:absolute;
  left:192px;
  top:124px;
  width:34px;
  height:19px;
}
#u41_input {
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:19px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u41_input {
  font-family:'微软雅黑';
}
#u41_input:disabled {
  color:grayText;
}
#u42 {
  position:absolute;
  left:112px;
  top:150px;
  width:488px;
  height:320px;
}
#u42_input {
  position:absolute;
  left:0px;
  top:0px;
  width:488px;
  height:320px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u42_input {
  font-family:'微软雅黑';
}
#u43 {
  position:absolute;
  left:109px;
  top:520px;
  width:83px;
  height:100px;
}
#u43_img {
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:100px;
}
#u44 {
  position:absolute;
  left:2px;
  top:34px;
  width:79px;
  word-wrap:break-word;
}
#u45 {
  position:absolute;
  left:43px;
  top:490px;
  width:66px;
  height:16px;
}
#u45_img {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:16px;
}
#u46 {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  white-space:nowrap;
}
#u47 {
  position:absolute;
  left:199px;
  top:590px;
  width:148px;
  height:30px;
}
#u47_img {
  position:absolute;
  left:0px;
  top:0px;
  width:148px;
  height:30px;
}
#u48 {
  position:absolute;
  left:2px;
  top:7px;
  width:144px;
  visibility:hidden;
  word-wrap:break-word;
}
#u49 {
  position:absolute;
  left:429px;
  top:595px;
  width:52px;
  height:25px;
}
#u49_input {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u49_input {
  font-family:'微软雅黑';
}
#u50 {
  position:absolute;
  left:370px;
  top:595px;
  width:52px;
  height:25px;
}
#u50_input {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u50_input {
  font-family:'微软雅黑';
}
#u51 {
  position:absolute;
  left:109px;
  top:490px;
  width:352px;
  height:16px;
  color:#0000CC;
}
#u51_img {
  position:absolute;
  left:0px;
  top:0px;
  width:352px;
  height:16px;
}
#u52 {
  position:absolute;
  left:0px;
  top:0px;
  width:352px;
  white-space:nowrap;
}
